<div class="p-10">
    <h1 class="text-center">Share on social media</h1>

    <div class="pt-5 flex gap-10">

   
        <div class="flex flex-col items-center space-y-2">
           <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-f text-4xl"></i>
        </a> 
        <p>Facebook</p>
        </div>

        <div class="flex flex-col items-center space-y-2">
            <a href="https://in.linkedin.com/">
                <i class="fa fa-linkedin-square text-4xl" ></i>
            </a>
         <p>Linkedin</p>
         </div>
        
         <div class="flex flex-col items-center space-y-2">
            <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter text-4xl"></i></a>
         <p>Twitter</p>
         </div>

         <div class="flex flex-col items-center space-y-2">
            <a href="https://www.whatsapp.com/">
                <i class="fa fa-whatsapp text-4xl"></i>
            </a>
         <p>whatsapp</p>
         </div>
    
        
    
    
      
    
    </div>

   
</div>

